<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Input" value="c:\files\tmp\in\"/>
    <add key="Output" value="c:\files\tmp\Out\"/>
    <add key="Extention" value=".avi"/>
    <add key="MinBitrate" value="8000"/>
    <add key="MaxBitrate" value="12000"/>
    <add key="Codec" value="mpeg2video"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
